.transaction-selection{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;

    &__title{
        font-family: Arial, Helvetica, sans-serif;
    }

    &__card{
        background-color: #172A3A ;
        box-shadow: 2px 2px 5px  #666;
        padding: 20px;
        width: 100%;
        margin-bottom: 10px;

        &-subtitle{
            color:white;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        &-img{
            width: 100px;
            height: 90px;
        }

        &-star{
            width: 100px;
            height: 80px;
            margin-bottom: 10px;
        }
    }   
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.ico{
    color: #09BC8A;
    padding-left: 2px;
}

.transaction-form-container{
    display: flex;
    justify-content: center;

    &__button{
        margin-left: 20px;
        margin-right: 20px;
    }
}