.wave-container{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;

    &__content{
        background-color: #004346;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 200px;
        padding: 0;

        &-exchange{

            &-text{
                color:white;
            }
        }

       
    }

    &__img{
        padding: 0;
        overflow: hidden;
    

        &-photo{
            overflow: hidden;
            padding: 0;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }

    }
}